@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.carousel-container {
  position: relative;
  height: 405px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-container {
    position: relative;
    display: flex;
    height: 170px;
    .image {
      width: 100%;
      height: 100%;
      margin: 0 8px;
      object-fit: cover;
    }
  }
}
.container {
  width: 100vw;

  .back {
    background-image: url('../src/img/Carousel PC/carousel-arrow-prev.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 36px;
    width: 36px;
    top: 24%;
    left: 10%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .forward {
    background-image: url('../src/img/Carousel PC/carousel-arrow-next.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 36px;
    width: 36px;
    top: 24%;
    right: 10%;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    z-index: 800;
  }
}

@media (max-width: 600px) {
  .carousel-container {
    display: relative;
    width: 600%;

    animation-direction: alternate;
    animation-duration: 4s;
    animation-delay: 2s;
    .image-container {
      height: 300px;
      position: relative;
    }
  }
  .image {
    width: 280px;
    height: 100%;
  }

  .back {
    left: 10%;
  }

  .forward {
    right: 10%;
  }

  @keyframes carousel-container {
    0% {
      left: 0%;
    }
    20% {
      left: -100%;
    }
    40% {
      left: -300%;
    }
    60% {
      left: -300%;
    }
    80% {
      left: -400%;
    }
    100% {
      left: -500%;
    }
  }

}
