@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root {
  /* Colors: */
  --background-color: #EEEEEE;
  --border-color: #AAAAAA;
  --text-color: #333333;
  --main-yellow: #FFF000;
  --button-red: #E3007F;
  /* Font/text values */
  --unnamed-font-family-roboto: 'Roboto';
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-16: 16px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-24: 24px;
}

/* Character Styles */
.body-text {
  font-family: var(--unnamed-font-family-roboto);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-24);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--unnamed-font-family-roboto);
  overflow-x: hidden;
}

.nav-container {
  background-color: var(--main-yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  border: 1px solid #AAAAAA;
  padding: 0 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.nav-container #LH-logo {
  position: fixed;
  top: .5em;
  width: 143px;
  height: 50px;
  background-image: url(../src/img/logo.svg);
  z-index: 100;
}

.nav-container #desk-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 80vw;
  left: 12em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container #desk-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-container #desk-nav .nav-items li {
  list-style: none;
  padding: 0 1rem;
}

.nav-container #desk-nav .nav-items li img {
  background-image: url(../src/img/icon-external.svg);
  height: 14px;
  width: 14px;
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: visible;
}

.nav-container #desk-nav .nav-contact-btn {
  background-color: var(--button-red);
  color: var(--background-color);
  height: 50px;
  width: 182px;
  border: none;
  border-radius: 5px;
  position: fixed;
  right: 1rem;
}

.nav-container #mobile-nav {
  display: none;
  width: 100%;
  position: fixed;
  justify-items: center;
  top: 64px;
  left: 0px;
  padding: 2rem 0;
}

.nav-container #mobile-nav .mobile-nav {
  display: flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

.nav-container #mobile-nav .mobile-nav .mobile-nav-item {
  height: 50px;
  text-align: center;
  list-style: none;
}

.nav-container #mobile-nav .mobile-contact-btn {
  background-color: var(--button-red);
  color: var(--background-color);
  height: 50px;
  border: none;
  border-radius: 5px;
  width: 95%;
  margin: 0 1em;
}

.nav-mobile-btn {
  display: none;
}

.toOpen {
  display: block;
}

.toClose {
  display: none;
}

@media (max-width: 600px) {
  .nav-contact-btn, .nav-items, .nav-item {
    display: none;
  }
  .nav-mobile-btn {
    display: block;
    position: fixed;
    right: 1em;
    top: 1em;
    border: none;
    background-color: transparent;
  }
}
/*# sourceMappingURL=header.css.map */